@media (max-width: 900px){
    .blogs-main-new{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-news-img-container{
        grid-row: 2;
    }
    .blogs-news-info-container{
        grid-column: 1;
        grid-row: 3;
    }
    .blogs-posts-container .post-container{
        max-width: 45%;
    }
    .projects-main-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
    }
    .profile-main-container .profile-container{
        display: block;
    }
}

@media (max-width: 600px){
    .blogs-posts-container .post-container{
        max-width: 95%;
    }
    .projects-main-container {
        grid-template-columns: 1fr;
    }

    .home-secondary-text{
    font-size: 25px;
    letter-spacing: 4px;
    }

    .home-main-text{
    font-size: 25px;
    letter-spacing: 4px;
    }

    .home-main-button{
    width: 110px;
    padding: 3px 6px;
    height: 70px;
    font-size: 15px;
    line-height: 50px;
    }
}

/* @media (max-width: 400px){
    .home-secondary-text{
    font-size: 5px;
    letter-spacing: 4px;
    }

    .home-main-text{
    font-size: 10px;
    letter-spacing: 4px;
    }

    .home-main-button{
    width: 110px;
    padding: 3px 6px;
    height: 70px;
    font-size: 8px;
    line-height: 50px;
    }
} */
